@import url("reset.css");


.title__red{
	font-size: 48px;
}
.subtitle{
	font-size: 36px;
	color: green;
}
.description{
	color: rgba(251, 203, 203, 0.763);
	font-size: 22px;
}
.subname{
	font-size: 24px;
}
.red{
	color: rgb(255, 0, 0);
}
.yellow{
	color: yellow;
}
.name__red{
	font-size: 24px;
}
[class*="__red"]{
	color: rgba(255, 0, 0, 0.66);
}
.g{
	color: rgb(255, 0, 0);
}
.footer {
	font-size: 48px;
	color: rgb(172, 0, 0);
	background-color: rgba(255, 0, 0, 0.156);
}
